In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path = "../../data/faradars/instructorList/"

listDatasets = np.array( os.listdir( path))

listDatasets = listDatasets[ np.flatnonzero( np.core.defchararray.find( listDatasets, "csv") != -1)]

print( listDatasets)

['list-1694258115356.csv' 'list-1694258492351.csv'
 'list-1694258718776.csv' 'list-1694259362398.csv'
 'list-1694259809580.csv' 'list-1694260690587.csv'
 'list-1694261209892.csv' 'list-1694261743323.csv'
 'list-1694262320593.csv' 'list-1694262507647.csv'
 'list-1694262740493.csv' 'list-1694262888884.csv'
 'list-1694263313479.csv' 'list-1694263397837.csv'
 'list-1694263454212.csv' 'list-1694265495688.csv'
 'list-1694265613129.csv' 'list-1694265824554.csv'
 'list-1694265914560.csv' 'list-1694266074686.csv'
 'list-1694266332329.csv' 'list-1694266738770.csv']

In [3]:
dfs = []

for ds in listDatasets:
	dfs.append( pd.read_csv( f"{ path}/{ ds}"))

df = pd.concat( dfs)

df.head()

,id,first_name,last_name,first_name_en,last_name_en,gender,photo,field,profile_picture,degree,categories,categories_fa,price,sold_n,type,duration,createdAt,rating,rating_n
0,9233420,واحد سنجش,و آزمون فرادرس,NaN,NaN,NaN,NaN,NaN,NaN,word.profile_degree.,geology|min-geosciences,زمین‌شناسی|مهندسی معدن و علوم زمین,0,4,exam,0,2023-07-11T20:03:15.000000Z,0.0,0
1,9233417,واحد سنجش,و آزمون فرادرس,NaN,NaN,NaN,NaN,NaN,NaN,word.profile_degree.,engineering,فنی و مهندسی,0,4,exam,0,2023-07-11T16:54:54.000000Z,0.0,0
2,9233488,واحد سنجش,و آزمون فرادرس,NaN,NaN,NaN,NaN,NaN,NaN,word.profile_degree.,academic-courses|postgraduate-entrance|agricul...,آموزش‌های دانشگاهی|تحصیلات تکمیلی|مهندسی کشاورزی,0,2,exam,0,2023-07-15T21:34:37.000000Z,0.0,0
3,9233450,واحد سنجش,و آزمون فرادرس,NaN,NaN,NaN,NaN,NaN,NaN,word.profile_degree.,humanities|law,علوم انسانی|حقوق,0,1,exam,0,2023-07-13T14:24:28.000000Z,0.0,0
4,9233422,واحد سنجش,و آزمون فرادرس,NaN,NaN,NaN,NaN,NaN,NaN,word.profile_degree.,science|engineering|electrical-engineering,علوم پایه و میان‌رشته‌ای|فنی و مهندسی|مهندسی برق,0,3,exam,0,2023-07-11T21:09:16.000000Z,0.0,0

In [4]:
df[ "type"].unique()

array(['exam', 'course', 'podcast', 'blind', 'webinar'], dtype=object)

In [5]:
df.groupby( "type").count()[ "id"]

type
blind        20
course     6604
exam        151
podcast      15
webinar      78
Name: id, dtype: int64

In [6]:
courses = df[ df[ "type"] == "course"]

In [7]:
courses[ "full_name"] = courses[ "first_name"] + " " + courses[ "last_name"]

C:\Users\karimi\AppData\Local\Temp\ipykernel_4312\3003294357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  courses[ "full_name"] = courses[ "first_name"] + " " + courses[ "last_name"]

In [8]:
count_of_courses = courses.groupby( "full_name")[ "id"].count()

count_of_courses

full_name
 رضا جهانگیر        5
آتنا اخوان قمی      2
آذین مرادی          2
آرتا اسدی           1
آرزو راستگو         1
                   ..
یونس شکوهی          1
یونس کاویانی راد    1
یکتا صبایی          2
یگانه آقامحمدی      8
یگانه فنایی         1
Name: id, Length: 2054, dtype: int64

In [9]:
all_categories = courses.groupby( "full_name")[ "categories_fa"].apply( lambda d: "|".join( [ str( x) for x in d.values]))

all_categories

full_name
 رضا جهانگیر        آموزش‌های فرادرسی رایگان|فیزیک|مهندسی پزشکی|آم...
آتنا اخوان قمی      سفالگری|کودکان و نوجوانان|مهارت‌های کودکان و ن...
آذین مرادی          کسب‌و‌کار|مدیریت|توسعه فردی|آموزش‌های عمومی|مد...
آرتا اسدی           مهندسی کامپیوتر|مهندسی نرم‌افزار|بورس و بازار ...
آرزو راستگو                                     علوم انسانی|روانشناسی
                                          ...
یونس شکوهی          برنامه‌نویسی|زبان‌های برنامه‌نویسی|پایتون|پردا...
یونس کاویانی راد                       آموزش‌های عمومی|سرویس های گوگل
یکتا صبایی          آموزش‌های فرادرسی رایگان|تربیت بدنی و علوم ورز...
یگانه آقامحمدی      مهندسی کامپیوتر|برنامه‌نویسی|پایتون|مهندسی الک...
یگانه فنایی                                مهندسی پزشکی|مهندسی مکانیک
Name: categories_fa, Length: 2054, dtype: object

In [10]:
sum_of_sales = courses.groupby( "full_name")[ "sold_n"].sum()

sum_of_sales

full_name
 رضا جهانگیر         786
آتنا اخوان قمی       249
آذین مرادی           123
آرتا اسدی            379
آرزو راستگو         1814
                    ...
یونس شکوهی           345
یونس کاویانی راد     148
یکتا صبایی           963
یگانه آقامحمدی      6945
یگانه فنایی          467
Name: sold_n, Length: 2054, dtype: int64

In [11]:
average_price = courses.groupby( "full_name")[ "price"].mean()

average_price

full_name
 رضا جهانگیر        105800.0
آتنا اخوان قمی      404000.0
آذین مرادی          384000.0
آرتا اسدی           349000.0
آرزو راستگو         319000.0
                      ...
یونس شکوهی          449000.0
یونس کاویانی راد    129000.0
یکتا صبایی          224500.0
یگانه آقامحمدی      296500.0
یگانه فنایی         449000.0
Name: price, Length: 2054, dtype: float64

In [12]:
income = courses.groupby( "full_name")[ [ "price", "sold_n"]].apply( lambda d: ( d[ "price"] * d[ "sold_n"]).sum())

income

full_name
 رضا جهانگیر         179860000
آتنا اخوان قمی        94381000
آذین مرادی            49017000
آرتا اسدی            132271000
آرزو راستگو          578666000
                       ...
یونس شکوهی           154905000
یونس کاویانی راد      19092000
یکتا صبایی           233929000
یگانه آقامحمدی      2091585000
یگانه فنایی          209683000
Length: 2054, dtype: int64

In [13]:
profile_picture = courses.groupby( "full_name")[ "profile_picture"].apply( lambda d: d.unique()[ 0])

profile_picture

full_name
 رضا جهانگیر        https://faradars.org/wp-content/uploads/2019/1...
آتنا اخوان قمی      https://faradars.org/wp-content/uploads/2022/0...
آذین مرادی          https://faradars.org/wp-content/uploads/2023/0...
آرتا اسدی           https://faradars.org/wp-content/uploads/2023/0...
آرزو راستگو         https://faradars.org/wp-content/uploads/2020/0...
                                          ...
یونس شکوهی          https://faradars.org/wp-content/uploads/2021/1...
یونس کاویانی راد    https://faradars.org/wp-content/uploads/2022/0...
یکتا صبایی          https://faradars.org/wp-content/uploads/2020/0...
یگانه آقامحمدی      https://faradars.org/wp-content/uploads/2018/0...
یگانه فنایی         https://faradars.org/wp-content/uploads/2020/0...
Name: profile_picture, Length: 2054, dtype: object

In [14]:
fields = courses.groupby( "full_name")[ "field"].apply( lambda d: "|".join( [ str( x) for x in d.values]))

fields

full_name
 رضا جهانگیر        مهندسی پرتوپزشکی|مهندسی پرتوپزشکی|مهندسی پرتوپ...
آتنا اخوان قمی                                    پژوهش هنر|پژوهش هنر
آذین مرادی                                  مهندسی صنایع|مهندسی صنایع
آرتا اسدی                                مهندسی کامپیوتر – هوش مصنوعی
آرزو راستگو                                          روانشناسی بالینی
                                          ...
یونس شکوهی                                  مهندسی پزشکی - بیوالکتریک
یونس کاویانی راد                                         مهندسی عمران
یکتا صبایی          فیزیولوژی ورزشی - قلب و عروق|فیزیولوژی ورزشی -...
یگانه آقامحمدی      مهندسی کامپیوتر – نرم‌افزار|مهندسی کامپیوتر – ...
یگانه فنایی                                  مهندسی پزشکی - بیومکانیک
Name: field, Length: 2054, dtype: object

In [15]:
average_duration_of_courses = courses.groupby( "full_name")[ "duration"].mean()

average_duration_of_courses

full_name
 رضا جهانگیر        162.200
آتنا اخوان قمی      218.000
آذین مرادی          141.500
آرتا اسدی           138.000
آرزو راستگو         207.000
                     ...
یونس شکوهی          260.000
یونس کاویانی راد     39.000
یکتا صبایی          150.000
یگانه آقامحمدی       97.125
یگانه فنایی         254.000
Name: duration, Length: 2054, dtype: float64

In [16]:
sum_of_courses_duration = courses.groupby( "full_name")[ "duration"].sum()

sum_of_courses_duration

full_name
 رضا جهانگیر        811
آتنا اخوان قمی      436
آذین مرادی          283
آرتا اسدی           138
آرزو راستگو         207
                   ...
یونس شکوهی          260
یونس کاویانی راد     39
یکتا صبایی          300
یگانه آقامحمدی      777
یگانه فنایی         254
Name: duration, Length: 2054, dtype: int64

In [17]:
average_of_rates = courses.groupby( "full_name")[ "rating"].mean()

average_of_rates

full_name
 رضا جهانگیر        1.000
آتنا اخوان قمی      4.280
آذین مرادی          2.440
آرتا اسدی           3.140
آرزو راستگو         4.670
                    ...
یونس شکوهی          4.880
یونس کاویانی راد    0.000
یکتا صبایی          2.440
یگانه آقامحمدی      3.765
یگانه فنایی         4.760
Name: rating, Length: 2054, dtype: float64

In [18]:
average_of_rate_numbers_per_courses = courses.groupby( "full_name")[ "rating_n"].mean()

average_of_rate_numbers_per_courses

full_name
 رضا جهانگیر         0.400
آتنا اخوان قمی       4.000
آذین مرادی           0.500
آرتا اسدی           10.000
آرزو راستگو          9.000
                     ...
یونس شکوهی           5.000
یونس کاویانی راد     0.000
یکتا صبایی           1.000
یگانه آقامحمدی       4.375
یگانه فنایی          4.000
Name: rating_n, Length: 2054, dtype: float64

In [19]:
total_number_of_rates = courses.groupby( "full_name")[ "rating_n"].sum()

total_number_of_rates

full_name
 رضا جهانگیر         2
آتنا اخوان قمی       8
آذین مرادی           1
آرتا اسدی           10
آرزو راستگو          9
                    ..
یونس شکوهی           5
یونس کاویانی راد     0
یکتا صبایی           2
یگانه آقامحمدی      35
یگانه فنایی          4
Name: rating_n, Length: 2054, dtype: int64

In [21]:
result = pd.concat( [
	count_of_courses,
	all_categories,
	sum_of_sales,
	average_price,
	income,
	profile_picture,
	fields,
	average_duration_of_courses,
	sum_of_courses_duration,
	average_of_rates,
	average_of_rate_numbers_per_courses,
	total_number_of_rates
], axis=1)

result.columns = [
	"count_of_courses",
	"categories",
	"number_of_sales",
	"average_price",
	"total_sale",
	"profile_picture",
	"field",
	"average_duration_of_courses",
	"sum_of_courses_duration",
	"average_of_ratings",
	"average_of_rating_numbers_per_course",
	"total_number_of_rates"
]

In [22]:
result.head( 2)

,count_of_courses,categories,number_of_sales,average_price,total_sale,profile_picture,field,average_duration_of_courses,sum_of_courses_duration,average_of_ratings,average_of_rating_numbers_per_course,total_number_of_rates
full_name,,,,,,,,,,,,
رضا جهانگیر,5,آموزش‌های فرادرسی رایگان|فیزیک|مهندسی پزشکی|آم...,786,105800.0,179860000,https://faradars.org/wp-content/uploads/2019/1...,مهندسی پرتوپزشکی|مهندسی پرتوپزشکی|مهندسی پرتوپ...,162.2,811,1.00,0.4,2
آتنا اخوان قمی,2,سفالگری|کودکان و نوجوانان|مهارت‌های کودکان و ن...,249,404000.0,94381000,https://faradars.org/wp-content/uploads/2022/0...,پژوهش هنر|پژوهش هنر,218.0,436,4.28,4.0,8